.faq__section {
  /*background-color: rgba(76, 91, 92, 1);*/
  background: linear-gradient(180deg, #4c5b5c, #1a1a1a);
  padding: 4rem 1rem;
}

.faq {
  max-width: 600px;
  margin: 2rem auto;
  font-family: "Inter", sans-serif;
  color: #f1f1f1;
}

.faq__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: #fff;
}

.faq__item {
  background: #1a1a1a;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq__question {
  cursor: pointer;
  padding: 1.2rem 1.5rem;
  font-size: 1.1rem;
  position: relative;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__question:hover {
  background: rgba(255,255,255,0.05);
}

.faq__icon {
  transition: transform 0.3s ease;
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  background: #222;
  color: #aaa;
  line-height: 1.6;
  padding: 0 1.5rem;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.faq__item.active .faq__answer {
  max-height: 200px;
  padding: 1rem 1.5rem 1.5rem;
}

.faq__item.active .faq__icon {
  transform: rotate(45deg);
}

.faq__question::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 1px;
  background: rgba(255,255,255,0.05);
}























/*  ==========================================================
  adaptation
    ========================================================== */
@media (max-width: 1366px) {
  
}

@media (max-width: 1024px) {
  
}

/* Для экранов до 768px (планшеты) */
@media (max-width: 768px) {
  
}

/* iPhone 15 Pro Max */
@media (max-width: 480px) {
  .faq__section {
    padding: 0.5rem 1rem;
  }
}

/* iPhone 12 Pro */
@media (max-width: 390px) {

}