/* ====== Контейнер ====== */
#fixed-price {
  scroll-margin-top: 4.5rem;
}

.fixed-price__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fixed-price__text-container {
  max-width: 40%;
}

/* ====== Карточка ====== */
.fixed-price__card {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  background-color: white;
  border-radius: 1.25rem;
  color: #000;
  position: relative;
  padding: 1rem 0;
}

/* ====== Опции ====== */
.fixed-price__card-oprions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fixed-price__card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.fixed-price__card-price {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

/* ====== Кнопки ====== */
.fixed-price__card-service-button,
.fixed-price__card-months-button,
.fixed-price__card-weekly-button {
  margin: 0.6rem 0;
  padding: 0.5rem 4rem;
  background-color: #4c5b5c;
  border-radius: 666px;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background 0.2s ease;
}

.fixed-price__card-service-button:hover,
.fixed-price__card-months-button:hover,
.fixed-price__card-weekly-button:hover {
  background-color: #3a4546;
}

/* ====== Дропдауны ====== */
.fixed-price__dropdown-service,
.fixed-price__dropdown-weekly,
.fixed-price__dropdown-months {
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  width: 80%;

  display: none;
  opacity: 0;
  pointer-events: none;
  transform-origin: top center;
  transition: opacity .2s ease, transform .2s ease;

  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  z-index: 9999;
}

/* Открыт */
.fixed-price__dropdown-service.open,
.fixed-price__dropdown-weekly.open,
.fixed-price__dropdown-months.open {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) scale(1);
}

/* Список */
.fixed-price__dropdown-service ul,
.fixed-price__dropdown-weekly ul,
.fixed-price__dropdown-months ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.fixed-price__dropdown-service li,
.fixed-price__dropdown-weekly li,
.fixed-price__dropdown-months li {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background .15s;
}

.fixed-price__dropdown-service li:hover,
.fixed-price__dropdown-weekly li:hover,
.fixed-price__dropdown-months li:hover {
  background: #f0f0f0;
}

/* Активный */
.fixed-price__dropdown-service li.active,
.fixed-price__dropdown-weekly li.active,
.fixed-price__dropdown-months li.active {
  background: #4c5b5c;
  color: #fff;
}

/* Текст */
.fixed-price__description {
  overflow-wrap: break-word;
}
