.card {
  perspective: 1000px;
  width: 300px;
  height: 480px;
  position: relative;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.flipped .card__inner {
  transform: rotateY(180deg);
}


.card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;

  /*background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: none;*/

  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);


  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  background-color: rgba(17, 25, 40, 0.25);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card__back {
  transform: rotateY(180deg);
  color: #fff;
  padding: 1rem;
}
