.how-it-works {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 8rem;
  background-image: url("../images/compressed/how_it_works_aero_compressed.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay::after { /* создание псевдокласса */
  content: "";  /* отрисовка */
  position: absolute; /* абсолютное позиционирование относительно родителя */
  inset: 0; /* элемент растягивается на всю ширину */
  background: rgba(76, 76, 76, 0.4);  /* цвет наложения */
  z-index: 1;
}

.how-it-works > * { /* == all childs are z-index: 2; == */
  position: relative;
  z-index: 2;
}

.how-it-works__steps {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  min-width: 100%;
  min-height: 300px;
}


.how-it-works__steps-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(83, 83, 83, 0);
  max-width: 14rem;
  gap: 1rem;
}

.how-it-works__steps-settings p {
  margin: 0;
  font-size: 1.25rem;
  text-align: center;
}



/* === ICONS ===*/
.fa-arrow-right-long {
  margin-top: 2rem;
  font-size: 2rem;
}

.how-it-works .fa-solid:not(.how-it-works .fa-arrow-right-long), 
.how-it-works .fa-regular {
  font-size: 3rem;

  width: 5.5rem;
  height: 5.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(250, 238, 108);
  color: #242424;
  border-radius: 50%;
}

























/*  ==========================================================
  adaptation
    ========================================================== */
@media (max-width: 1366px) {
  
}

@media (max-width: 1024px) {
  
}

/* Для экранов до 768px (планшеты) */
@media (max-width: 768px) {
  
}

/* iPhone 15 Pro Max */
@media (max-width: 480px) {
  .overlay::after {
    background: rgba(76, 76, 76, 0.65);  /* цвет наложения */
  }

  .how-it-works__titel {
    font-size: 1.8rem;
    justify-self: center;
    margin-top: -5rem;
    padding: 0 1rem;
    text-align: center;
  }

  .how-it-works__steps {
    flex-direction: column;
    align-items: center;
    min-height: auto;
  }

  .fa-arrow-right-long {
    transform: rotate(90deg);
    margin: 1rem 0;
  }

  .how-it-works__steps p {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .how-it-works__steps {
    margin-bottom: 2rem;
  }
}

/* iPhone 12 Pro */
@media (max-width: 390px) {
  .how-it-works__titel {
    font-size: 1.7rem;
    justify-self: center;
    margin-top: -5rem;
    padding: 0 1rem;
    text-align: center;
  }

  .how-it-works__steps p {
    font-size: 1.2rem;
    font-weight: bold;
  }
}