@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');



.catalog {
  z-index: 2;
}

.section__page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    

  gap: 0.5rem;
  margin-top: 10rem;
  margin-bottom: 1.5rem;
}



.catalog__background-personal-and-events {
  position: relative;
  background-image: url("../images/home_1_1_blured.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: var(--color-text);
  overflow: hidden; /* важно для blur, чтобы не вылезал */
}

.catalog__background-personal-and-events::after {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.45); /* темнее, можно поднять до 0.55–0.65 */
  backdrop-filter: none;
  background: rgba(0, 0, 0, 0.55);

  border: 1px solid rgba(255, 255, 255, 0.08); /* слабый холодный контур */
  z-index: 1;
}