/* Root variables */
:root {
  --font-main: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  --font-accent: "Raleway", sans-serif;
  --color-bg: #242424;
  --color-text: #ffffff;
  --color-text-langs: #ffffff;;
  --color-accent: #2563eb;
  --color-muted: #6b7280;
  --container-width: 1200px;
  --border-radius: 0.5rem;
  --transition-fast: 0.2s ease-in-out;
  --color-bg-header: #ffffff;
}


.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: vh80; 
  background-color: var(--color-bg-header);
}

.header ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}



/* ===== Language ===== */
/* Сброс стандартного стиля */
.custom-select-wrapper select {
  appearance: none; /* Убираем дефолтный стиль */
  -webkit-appearance: none;
  -moz-appearance: none;
  
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  border: 2px solid #2e8b57;
  border-radius: 10px;
  background-color: #f0f9f4;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

/* Ховер и фокус */
.custom-select-wrapper select:hover {
  border-color: #1e5f3b;
  background-color: #e6f2ea;
}

.custom-select-wrapper select:focus {
  border-color: #1e5f3b;
  box-shadow: 0 0 5px rgba(46, 139, 87, 0.5);
}

/* Добавляем стрелку */
.custom-select-wrapper {
  position: relative;
  display: inline-block;
}

.custom-select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2e8b57;
  transform: translateY(-50%);
}

/* Плавный фокус стрелки */
.custom-select-wrapper select:focus + ::after {
  border-top-color: #1e5f3b;
}
/* ===== Language ===== */



.custom-select { 
  position: relative; 
  width: 150px; 
}

.selected { 
  cursor: pointer; 
  padding: 5px; 
  display: flex; 
  align-items: center; 
  gap: 5px; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.options { 
  display: none; 
  position: absolute; 
  top: 100%; left: 0; 
  width: 100%; 
  border: 1px solid #ccc; 
  background: var(--color-bg);
  color:var(--color-text-langs);
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.custom-select.open .options { 
  display: block; 
}

.options li { 
  padding: 5px; 
  display: flex; 
  align-items: center; 
  gap: 5px; 
  cursor: pointer; 
}


.icon {
  width: 24px;
  height: 18px;
}
